<footer class="footer">
  <div class="footer__content">
    <h2 class="footer__content-title">ArtGalleryManager</h2>
    <p class="footer__content-description">
      Your go-to platform for managing and exploring exquisite art pieces.
    </p>
  </div>
  <div class="footer__social-media">
    <a href="https://www.facebook.com" class="footer__social-media-link" target="_blank">
      <i class="bi bi-facebook visually footer__social-media-icon" aria-label="facebook icon"></i>
    </a>
    <a href="https://www.twitter.com" class="footer__social-media-link" target="_blank">
      <i class="bi bi-twitter footer__social-media-icon" aria-label="twitter icon"></i>
    </a>
    <a href="https://www.instagram.com" class="footer__social-media-link" target="_blank">
      <i class="bi bi-instagram footer__social-media-icon" aria-label="instagram icon"></i>
    </a>
  </div>
</footer>
