@use "./../../../styles/variables.scss" as vars;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 10px;
  background-color: vars.$primary-c;
  color: vars.$white-c;

  &__content {
    &-title {
      font-size: 1.125rem;
      margin-bottom: 3px;
    }

    &-description {
      font-size: 0.7rem;
    }
  }

  &__social-media {
    display: flex;
    align-items: center;
    gap: 15px;

    &-link {
      font-size: 1rem;
      color: vars.$white-c;
      display: block;
      padding: 5px;
    }

    &-icon {
      transition: vars.$transition;

      &:hover {
        color: vars.$hover-c;
      }
    }
  }
}

@media(max-width: 600px) {
  .footer__content {
    max-width: 300px;
  }
  .footer__social-media {
    gap: 5px;
  }
}
