@use "./../../../styles/variables.scss" as vars;

.header {
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: vars.$box-sh;

  &__logo {
    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: vars.$primary-c;
    }

    &-icon {
      font-size: 30px;
      display: flex;
    }

    &-title {
      font-size: 1.125rem;
    }
  }
}
