@use "./../../../styles/variables.scss" as vars;
@use "@angular/material" as mat;
@use "./../../../styles/styles.scss" as styles;

.artworks {
  padding: 10px 20px;

  &__filters {
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px;
    list-style: none;
    margin-bottom: 15px;
  }

  &__create-new-btn {
    font-family: inherit;
    min-width: 150px;
    background-color: mat.get-theme-color(styles.$default-theme, primary, 30);
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}

.artwork {
  border-radius: vars.$border-r;
  box-shadow: vars.$box-sh;
  cursor: pointer;
  transition: vars.$transition;

  &:hover {
    transform: scale(1.02);
    box-shadow: vars.$box-sh-hover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  &__price {
    font-weight: bold;
  }

  &__artist {
    font-size: 0.875rem;
  }

  &__image {
    width: 250px;
    height: 170px;
    object-fit: cover;
    align-self: center;
    border-radius: vars.$border-r;
    margin-bottom: 10px;
  }
}

.form {
  display: flex;
  gap: 20px;

  &__field {
    width: 25%;
  }

  &__input,
  &__select {
    padding-inline: 10px;
    font-size: 0.75rem;
  }
  &__select-option {
    font-size: 0.75rem;
    padding: 7px 10px;
  }

  &__actions {
    display: flex;
    gap: 20px;
  }

  &__btn {
    font-family: inherit;
    font-size: 0.75rem;
    min-width: vars.$btn-w;
  }
}

.not-found-msg {
  text-align: center;
  margin-top: 50px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-option {
  min-height: 28px;
}

button.form__btn {
  &--submit {
    background-color: mat.get-theme-color(styles.$default-theme, primary, 30);
  }

  &--clear:not(:disabled) {
    background-color: mat.get-theme-color(styles.$default-theme, primary, 70);
  }
}

@media (max-width: 1024px) {
  .artworks {
    &__content {
      justify-content: center;
    }

    &__create-new {
      display: flex;
      justify-content: center;
      margin-block: 10px;
    }
  }
  .form {
    flex-direction: column;
    justify-content: center;
    padding-inline: 50px;

    &__actions {
      align-self: center;
    }
  }
}
