<section class="new-artwork">
  <h1 class="new-artwork__title">New Artwork</h1>
  <form [formGroup]="artworkForm" class="artwork-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="artwork-form__field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error class="artwork-form__error">
        {{errorMsg.TITLE_REQUIRED}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="artwork-form__field">
      <mat-label>Artist</mat-label>
      <input matInput formControlName="artist" />
      <mat-error class="artwork-form__error">
        {{errorMsg.ARTIST_REQUIRED}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="artwork-form__field">
      <mat-label>Select type</mat-label>
      <mat-select formControlName="type" class="artwork-form__select">
        @for (type of artworkTypes | keyvalue; track type) {
        <mat-option [value]="type.value" class="artwork-form__select-option"
          >{{type.value}}
        </mat-option>
        }
      </mat-select>
      <mat-error class="artwork-form__error">
        {{errorMsg.TYPE_REQUIRED}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="artwork-form__field">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" />
      @if (artworkForm.controls.price.errors?.['required']) {
      <mat-error class="artwork-form__error">
        {{errorMsg.PRICE_REQUIRED}}
      </mat-error>
      } @if (artworkForm.controls.price.errors?.['min']) {
      <mat-error class="artwork-form__error">
        {{errorMsg.PRICE_INVALID}}
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="artwork-form__field">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="image" type="url" />
      <mat-error class="artwork-form__error">
        {{errorMsg.URL_INVALID}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="artwork-form__field">
      <mat-label>Select availability</mat-label>
      <mat-select formControlName="availability" class="artwork-form__select">
        @for (type of availabiltyOptions | keyvalue; track type) {
        <mat-option [value]="type.value" class="artwork-form__select-option"
          >{{type.key}}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="artwork-form__actions">
      <button
        mat-flat-button
        class="artwork-form__btn artwork-form__btn--cancel"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        class="artwork-form__btn artwork-form__btn--create"
        [disabled]="artworkForm.invalid"
        type="submit"
      >
        Create
      </button>
    </div>
  </form>
</section>
