<section class="artwork-item">
  @if (artwork) {
  <mat-card appearance="outlined" class="artwork-item__card">
    <img
      mat-card-image
      [src]="artwork.image || noImageUrl"
      [alt]="artwork.title"
      class="artwork-item__image"
    />

    <div class="artwork-item__content">
      <mat-card-header>
        <mat-card-title class="artwork-item__title"
          >{{artwork.title}}</mat-card-title
        >
        <mat-card-subtitle class="artwork-item__subtitle"
          >By: {{artwork.artist}}</mat-card-subtitle
        >
      </mat-card-header>

      <mat-card-content>
        <p class="artwork-item__type">
          Type: <span>{{artwork.type || 'Unknown'}}</span>
        </p>
        <p class="artwork-item__price">
          Price:
          <span>{{artwork.price | currency: 'USD': 'symbol' : '1.0' }}</span>
        </p>
        <p class="artwork-item__status">Status: <span>{{status}}</span></p>
      </mat-card-content>

      <mat-card-actions class="artwork-item__actions">
        <button
          mat-flat-button
          type="button"
          class="artwork-item__btn artwork-item__btn--update"
          (click)="onUpdate()"
        >
          Update
        </button>
        <button
          mat-flat-button
          type="button"
          class="artwork-item__btn artwork-item__btn--delete"
          (click)="onDelete()"
        >
          Delete
        </button>
      </mat-card-actions>

    </div>
  </mat-card>
  }
</section>
